.example-spacer{
    flex: 1 1 auto;
}

table{
    width: 100%;
}

.mat-form-field{
    font-size: 15px;
    width: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}
.changeColor{
    background-color: rgb(39, 0, 56);
    color : white;
}