<h1 mat-dialog-title> Agregar Productos </h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Agrega Tu credencial</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Agrega Tu credencial</mat-label>
        <mat-select placeholder="Categoria">
            <mat-option value="Fruits">Fruits</mat-option>
            <mat-option value="Vegetables">Vegetables</mat-option>
            <mat-option value="Electronics">Electronica</mat-option>
        </mat-select>
        <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>
</div>