<h1 mat-dialog-title> Agregar Productos </h1>
<div mat-dialog-content class="mat-dialog">
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Escribe tu producto</mat-label>
            <input matInput placeholder="nombre" formControlName="productName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select placeholder="Categoria" formControlName="category">
                <mat-option value="Fruits">Frutas</mat-option>
                <mat-option value="Vegetables">Vegetables</mat-option>
                <mat-option value="Electronics">Electronica</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Elige Una Fecha</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-label>
            <h1>Selecciona su Estado</h1>
        </mat-label>
        <mat-radio-group formControlName="stade" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let articulo of articulos" [value]="articulo">
                {{articulo}}
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price" type="number" placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Comentarios</mat-label>
            <textarea formControlName="comments" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="accent" mat-dialog-close>Cerrar</button>
    <button class="btn-style" mat-raised-button color="primary" mat-dialog-close (click)="addProduct()">{{actionBtn}}</button>
</div>